<!-- Use grid to split screen into 5 columns -->
<!-- Unpaid and paid will take space proportional to numbers of players -->
<div cdkDropListGroup class="grid grid-cols-5 h-full gap-x-4">
  <!-- If unpaid players is more than paid players, unpaid container takes 3 columns -->
  <div
    class="flex flex-col"
    [style.grid-column]="isUnpaidMoreThanPaid() ? 'span 3' : 'span 2'"
  >
    <div
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="unpaid()"
      (cdkDropListDropped)="drop($event)"
      class="container"
    >
      <h2 class="background-text">Unpaid</h2>
      @for (player of unpaid(); track player) {
        <mat-card cdkDrag>
          <mat-card-content>{{ player.name }}</mat-card-content>
        </mat-card>
      }
    </div>
  </div>
  <!-- If unpaid players is more than paid players, paid container takes 2 columns -->
  <div
    class="flex flex-col"
    [style.grid-column]="isUnpaidMoreThanPaid() ? 'span 2' : 'span 3'"
  >
    <div
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="paid()"
      (cdkDropListDropped)="drop($event)"
      class="container"
    >
      <h2 class="background-text">Paid</h2>
      @for (player of paid(); track player) {
        <mat-card cdkDrag>
          <mat-card-content>{{ player.name }}</mat-card-content>
        </mat-card>
      }
    </div>
  </div>
</div>
