@use "@angular/material" as mat;

mat-card {
  margin: 1rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card-header {
    font-size: large;
  }

  mat-card-actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

.out {
  background-color: var(--mat-sys-inverse-surface);
  color: var(--mat-sys-inverse-on-surface);
}
