@use "@angular/material" as mat;

mat-card {
  margin: 1rem;
  width: 10rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mat.card-overrides(
    (
      elevated-container-color: var(--mat-sys-primary-container),
    )
  );

  mat-card-header {
    font-size: large;
  }
}

.out {
  background-color: var(--mat-sys-inverse-surface);
  color: var(--mat-sys-inverse-on-surface);
}
