<div class="h-full grid grid-cols-2">
  <!-- Player list on the left -->
  <div class="grid grid-cols-5 justify-items-center items-center">
    @for (player of roster(); track $index) {
      <!-- Select a player to view details on the right side -->
      <mat-card (click)="selectedPlayer.set(player)">
        <mat-card-header>{{ player.name }}</mat-card-header>
        <mat-card-content></mat-card-content>
      </mat-card>
    }
  </div>
  <!-- Player details on the right -->
  <div class="flex justify-center items-center">
    @if (selectedPlayer()) {
      <app-player-admin [playerID]="selectedPlayer()?.id"></app-player-admin>
    } @else {
      <span class="text-2xl">Select a player</span>
    }
  </div>
</div>
