<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <img src="logo-320px.png" alt="" />
    <mat-nav-list>
      <a mat-list-item href="/admin">Admin Dashboard</a>
      <a mat-list-item href="/admin/roster">Roster</a>
      @if (!(isHandset$ | async)) {
        <a mat-list-item href="/admin/fee">Fee</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Show static toolbar only when in a mobile display -->
    @if (isHandset$ | async) {
      <mat-toolbar color="primary">
        <!-- Hamburger icon -->
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!-- Title -->
        <div class="flex-1 flex justify-center text-2xl">
          <span>Friday Football with Friends</span>
        </div>
      </mat-toolbar>
    }
    <!-- Add Content Here -->
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
