@use "@angular/material" as mat;

.rsvp-container {
  display: grid; // Use CSS Grid for layout
  // Fill each row with as many columns as possible,
  // but ensure each column is at least 150px wide and can grow to fill available space
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(150px, 100% / var(--number-of-columns)), 1fr)
  );
  // Center the content horizontally and vertically
  justify-items: center;
  align-items: center;
}
