<div class="container p-4 d-flex justify-content-center">
  <div class="border border-dark p-2"
       style="width: 800px;">
    <div class="row m-3">
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="pos4"
               (blur)="substitute()">
      </div>
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="pos4">
      </div>
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="pos4">
      </div>
    </div>

    <div class="row m-3">
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="pos4">
      </div>
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="pos4">
      </div>
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="pos4">
      </div>
    </div>
  </div>
</div>
