<div class="container-fluid p-4 d-flex justify-content-center">
  <div class="border border-dark p-2">
    <div class="row m-3">
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="position[3]"
               (blur)="substitute()">
      </div>
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="position[2]">
      </div>
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="position[1]">
      </div>
    </div>

    <div class="row m-3">
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="position[4]">
      </div>
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="position[5]">
      </div>
      <div class="col-sm">
        <input type="text"
               [(ngModel)]="position[0]"
               (blur)="substitute()">
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="rotate()">ROTATE</button>
  </div>
</div>
