<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="playerInfoFormGroup">
    <form [formGroup]="playerInfoFormGroup">
      <ng-template matStepLabel>Your Info</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name"
        formControlName="playerInfoCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="playerContactFormGroup">
    <form [formGroup]="playerContactFormGroup">
      <ng-template matStepLabel>Contact Info</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Purdue Email</mat-label>
        <input matInput formControlName="playerContactCtrl"
        placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Sports</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
